# Overview of Dataset

## Context

Among the most common metrics to measure the efficiency of resource utilization of the healthcare facilities, Length of Stay (LOS) is a crucial one that hospitals use to benchmark the typical stay by health conditions, assisting in bed management in processing the admissions of new patients or predicting staffing needs appropriately. 

By definition, LOS measures the average amount of time a patient stays in a hospital.LOS is positively correlated to the quality of treatment, case management effectiveness as well as cost effectiveness of the hospital. In short, LOS is the effective indicator of healthcare facilities performances across various aspects.

In this case study, I will develop a machine learning model to predict the LOS for each admission. The model can be used as a prediction tool to help plan the facilities resources more efficiently.

## The Attributes inlcude:

The dataset has 18 attributes. 
- The label is Stay - The number of days in range for each case. 11 classes ranging from 0 to over 100 days. 10 days interval.
- The features include: case_id, Hospital_code, Hospital_type_code, City_Code_Hospital, Hospital_region_code, Available Extra Rooms in Hospital,Department, Ward_Type, Ward_Facility_Code, Bed Grade, patientid, City_Code_Patient, Type of Admission, Severity of Illness, Visitors with Patient, Age, Admission_Deposit. 

Some features are anonymized due to the privacy.

In [5]:
# import modules and libraries
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
# Read a file & display sample of the dataset
df = pd.read_csv("./train.csv")
df.head()

,case_id,Hospital_code,Hospital_type_code,City_Code_Hospital,Hospital_region_code,Available Extra Rooms in Hospital,Department,Ward_Type,Ward_Facility_Code,Bed Grade,patientid,City_Code_Patient,Type of Admission,Severity of Illness,Visitors with Patient,Age,Admission_Deposit,Stay
0,1,8,c,3,Z,3,radiotherapy,R,F,2.0,31397,7.0,Emergency,Extreme,2,51-60,4911.0,0-10
1,2,2,c,5,Z,2,radiotherapy,S,F,2.0,31397,7.0,Trauma,Extreme,2,51-60,5954.0,41-50
2,3,10,e,1,X,2,anesthesia,S,E,2.0,31397,7.0,Trauma,Extreme,2,51-60,4745.0,31-40
3,4,26,b,2,Y,2,radiotherapy,R,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,7272.0,41-50
4,5,26,b,2,Y,2,radiotherapy,S,D,2.0,31397,7.0,Trauma,Extreme,2,51-60,5558.0,41-50

In [9]:
df.describe()

,case_id,Hospital_code,City_Code_Hospital,Available Extra Rooms in Hospital,Bed Grade,patientid,City_Code_Patient,Visitors with Patient,Admission_Deposit
count,318438.000000,318438.000000,318438.000000,318438.000000,318325.000000,318438.000000,313906.000000,318438.000000,318438.000000
mean,159219.500000,18.318841,4.771717,3.197627,2.625807,65747.579472,7.251859,3.284099,4880.749392
std,91925.276848,8.633755,3.102535,1.168171,0.873146,37979.936440,4.745266,1.764061,1086.776254
min,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,1800.000000
25%,79610.250000,11.000000,2.000000,2.000000,2.000000,32847.000000,4.000000,2.000000,4186.000000
50%,159219.500000,19.000000,5.000000,3.000000,3.000000,65724.500000,8.000000,3.000000,4741.000000
75%,238828.750000,26.000000,7.000000,4.000000,3.000000,98470.000000,8.000000,4.000000,5409.000000
max,318438.000000,32.000000,13.000000,24.000000,4.000000,131624.000000,38.000000,32.000000,11008.000000

## Exploratory Data Analysis

## Data Preprocessing

## Output

After conducting an indepth data analysis to develop the better understanding about the problem and its data, the dataset is cleansed and normalized to get ready for the next step - training the data with models.